/* your custom css */

@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: 'Lato';
    src: url(https://fonts.googleapis.com/css?family=Lato);
}

body {
    font-family: 'Lato', sans-serif;
    background: white;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    color: #1B1C1D;
}

.mainContainer {
    background: transparent;
}

.mainContainer .wrapper .post h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.docsNavContainer {
    margin: 120px 40px 0 0;
}

.mainContainer .wrapper .post h1 {
    margin-top: 60px;
}

.navigationSlider .slidingNav ul li a {
    color: #717884;
}

nav.toc .toggleNav {
    background:white;
}

nav.toc .toggleNav ul li a {
    color: #1B1C1D;
}

nav.toc .toggleNav ul li a.navItemActive {
    color: #2693FF;
}

nav.toc .toggleNav .navGroup.navGroupActive {
    background: transparent;
}

nav.toc .toggleNav .navGroup.navGroupActive h3 {
    background: transparent;
    color:#1B1C1D;
    font-weight: 900;
}

footer.nav-footer {
    box-shadow: none;
}

.button {
    border: none;
    background: #2693FF;
    color: white;
    font-size: 15px;
    padding: 0 24px;
    font-weight: 300;
    line-height: 40px;
    text-transform: none;
    transition: none;
}

.button:hover {
    background: #2693FF;
}

    

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
