/* your custom css */

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    font-family: 'Lato', sans-serif;
    background: white;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    color: #1B1C1D;
}

.mainContainer {
    background: transparent;
}

.mainContainer .wrapper .post h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3 {
    font-family: 'Lato';
    font-weight: 900;
}

.docsNavContainer {
    margin: 120px 40px 0 0;
}

.mainContainer .wrapper .post h1 {
    margin-top: 60px;
}

.navigationSlider .slidingNav ul li a {
    color: #717884;
}

nav.toc .toggleNav {
    background: transparent;
}

nav.toc .toggleNav ul li a {
    color: #1B1C1D;
}

nav.toc .toggleNav ul li a.navItemActive {
    color: #2693FF;
}

nav.toc .toggleNav .navGroup.navGroupActive {
    background: transparent;
}

nav.toc .toggleNav .navGroup.navGroupActive h3 {
    background: transparent;
    color:#1B1C1D;
    font-weight: 900;
}

footer.nav-footer {
    box-shadow: none;
    background: #1B1C1D;
}

.button {
    border: none;
    background: #2693FF;
    color: white;
    font-size: 15px;
    padding: 0 24px;
    font-weight: 300;
    line-height: 40px;
    text-transform: none;
    transition: none;
}

.button:hover {
    background: #2693FF;
}

.fixedHeaderContainer {
    display: none;
}

.navPusher {
    padding-top: 0;
}

.mainContainer .wrapper a {
    text-decoration: underline;
}

    

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
